sudo: false
language: ruby
cache: bundler
rvm:
  - 2.1.10
  - 2.2.5
  - 2.3.1
before_install: gem install bundler -v 1.12.5
script:
  - bundle exec rake
  - bash <(curl -fsSL https://github.com/everypolitician/ensure-regression-tests/raw/master/ensure-regression-tests)
